.red{
  color: red;
}
.blue{
  color: blue;
}
.border_backgroun{
  background-color: pink;
  border: 5px solid black;
  height: 40%;
  width: 50%;
}
/*body {
  font-family: Arial;
}

#mainImg {
  width: 35%;
}


.box {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}
.bgcolor{
  background-color: yellow;

}


.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
}
.green{
  color:blueviolet;
  text-decoration: underline black wavy;
  
}*/
